<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <h2>Please Drag and Drop component here to see</h2>
            <ng-template dynamic></ng-template>
        </div>
        <div class="col-lg-4">
            <h2>Components</h2>
            <div
                cdkDropList
                class="example-list"
                (cdkDropListDropped)="drop($event)"
            >
                <div
                    class="example-box"
                    *ngFor="let component of components"
                    cdkDrag
                >{{component}}</div>
            </div>            
        </div>
    </div>
</div>